# fly.toml app configuration file generated for automation-bot-hidden-paper-4979 on 2025-12-18T02:18:19Z
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'automation-bot-hidden-paper-4979'
primary_region = 'lax'

[http_service]
  internal_port = 8080
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']

[[vm]]
  memory = '1gb'
  cpu_kind = 'shared'
  cpus = 1
  memory_mb = 1024
